<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Guia de Perguntas</title>
</head>
<body>
    <h1>TEste</h1>
    <hr>
    <h3>Lista de Perguntas</h3>
    <% if(programador === true){%>
        <h1>Bem vindo , Programador <%= nome %> </h1>
    <% } %>

    <ul>
        <li>Nome : <%= nome %></li> <!-- Variaveis -->
        <li>Idade : <%= idade %></li>
        <li>Sexo : <%= sexo %></li>
     <!--   <li>Linguagem Favorita :</li> -->
        
        <li>
            linguagens favoritas : <br>
            <% linguagens.forEach( function(linguagens){ %>
                Linguagem  : <%= linguagens.nome %>  
                Experiencia : <%= linguagens.experiencia %> ano(s)
                <br>
            <% }); %><br>
        </li>


    </ul>
    
</body>
</html>